/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/vendor
.env
.env.backup
.env.production
.env_production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Database files
innovasafe_db
*.sqlite
*.db

# Temporary/system files
$null
.DS_Store
Thumbs.db
